<h1>Logged in as:</h1>
<div class=row>
    <div class="clients col-lg-2 col-xs-2">
        <div class="client-list">
            <h2>Client List:</h2>
            <ul>
                <a href="#">
                    <li>Clinet One</li>
                </a>
                <a href="#">
                    <li>Client Two</li>
                </a>
                <a href="#">
                    <li>Client Three</li>
                </a>
                <a href="#">
                    <li>Client Four</li>
                </a>
            </ul>
        </div>
    </div>
    <div class="client-overview col-lg-10 col-xs-10">
        <div class="client-info">
            <h1>Client One:</h1>
            <p>Address:</p>
            <p>1010 West Ave. Los Angeles, CA 90000</p>
            <p>Contact:</p>
            <p>Jeremy A. Estheban</p>
            <p>Email: blank@blank.com </p>
            <p>Phone: 555-555-1234</p>
        </div>
        {{!--
        <div class="folders">
            <h1>Folders:</h1>
        </div> --}}
        <div class="files">
            <h1>Files:</h1>
            <ul>
                <a href="#">
                    <li>Plans-Set One </li>
                </a>
                <a href="#">
                    <li>Services Contracts</li>
                </a>
                <a href="#">
                    <li>Billing Spreadhseet</li>
                </a>
            </ul>
            <div class="uploader">
                <h2>Upload New File to Client</h2>
                <div class="progress-bar" role="progressbar"></div>
                <button class="btn btn-lg upload-btn" type="button">Upload File</button>
            </div>
        </div>
        {{!--
        <div class="comments">
            <h1>Comments:</h1>
        </div> --}}
    </div>
</div>

<input id="upload-input" type="file" name='uploads[]' multiple='multiple'>
