<h1>Architects</h1>
<div class=row>
        <div class="clients col-lg-2 col-xs-2">
            <div class="client-list">
                <h2>Clients:</h2>
                <ul>
                    <a href="#">
                        <li>Test One</li>
                    </a>
                    <a href="#">
                        <li>Test Two</li>
                    </a>
                    <a href="#">
                        <li>Test Three</li>
                    </a>
                    <a href="#">
                        <li>Test Four</li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="client-overview col-lg-10 col-xs-10">
            <div class="client-info">
                <h1>Client: Client One</h1>
                <p></p>
            </div>
            <div class="folders">
                <h1>Folders:</h1>
            </div>
            <div class="files">
                <h1>Files:</h1>
                <div class="progress">
              <div class="progress-bar" role="progressbar"></div>
            </div>
            <button class="btn btn-lg upload-btn" type="button">Upload File</button>
            </div>
            <div class="comments">
                <h1>Comments:</h1>
            </div>
        </div>
    </div>