<link rel="stylesheet" href="css/client-styles.css">
<div class="panel panel-default">
    <div class="panel-heading">Logged in as: {{client.ClientContact.first_name}} {{client.ClintContact.last_name}}

        <div class="options">
            <a href="/logout">Logout</a>
        </div>
    </div>
    <div class="panel-body main-body">
        <div class="panel panel-info file-list col-lg-3">
            <div class="panel-heading">File List:</div>
            <div class="panel-body file-list-body">
                <ul>
                    <a href="#">
                        <li>File One</li>
                    </a>
                    <a href="#">
                        <li>File Two</li>
                    </a>
                    <a href="#">
                        <li>File Three</li>
                    </a>
                    <a href="#">
                        <li>File Four</li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="panel panel-info file-preview col-lg-4">
            <div class="panel-heading">File Preview:</div>
            <div class="panel-body ">
                <div class="preview">
                    <h4>Download File</h4>
                    <button class="btn btn-md download-btn" type="button">Download</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
             <div class="col-lg-11 panel panel-info  ">
                <div class="panel-heading">Add Comment:</div>
                <div class="panel-body file-comments">
                    <div class="form-group">
                        <label for="comment">Comment:</label>
                        <textarea class="form-control" rows="5" id="comment"></textarea>
                         <button class="btn btn-md" type="button">Submit</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-11 panel panel-info">
                <div class="panel-heading">Responses</div>
                <div class="panel-body notes">
                    <p>Job-Status: waiting for plans to be submitted</p>
                </div>
            </div>


        </div>
    </div>
</div>
<div><a href="/settings">Settings</a></div>
<script src="js/arch-view.js"></script>
{{!--
<div class="folders">
    <h1>Folders:</h1>
</div> --}} {{!--
<div class="comments">
    <h1>Comments:</h1>
</div> --}}
