<h1>Welcome {{client.ClientContact.first_name}}</h1>
<div class="row client-title">
  <a href="/logout">Logout</a>
        <h1>Client One</h1>
    </div>
    <div class=row>
        <div class="col-lg-2 col-xs-2 folders">
                <h2>Folders:</h2>
                <ul>
                    <a href="#">
                        <li>Folder One</li>
                    </a>
                    <a href="#">
                        <li>Folder Two</li>
                    </a>
                    <a href="#">
                        <li>Folder Three</li>
                    </a>
                    <a href="#">
                        <li>Folder Four</li>
                    </a>
                </ul>
            </div>

        <div class="file-access col-lg-10 col-xs-10">
            <div class="files">
                <h1>Files:</h1>
                <p></p>
            </div>
            <div class="file-preview">
                    <h1>Preview:</h1>
                    <p></p>
                </div>
            <div class="comments">
                <h1>Comments from {{client.ClientContact.Arch.ArchContact.first_name}}:</h1>
            </div>
        </div>
    </div>
</div>
