<link rel="stylesheet" href="css/client-styles.css">
<div class="panel panel-default">
    <div class="panel-heading">Logged in as: {{client.ClientContact.first_name}} {{client.ClintContact.last_name}}

        <div class="options">
            <a href="/logout">Logout</a>
        </div>
    </div>
    <div class="panel-body main-body">
        <div class="panel panel-info file-list col-lg-3">
            <div class="panel-heading">File List:</div>
            <div class="panel-body">
                <ul>
                    <a href="#">
                        <li>File One</li>
                    </a>
                    <a href="#">
                        <li>File Two</li>
                    </a>
                    <a href="#">
                        <li>File Three</li>
                    </a>
                    <a href="#">
                        <li>File Four</li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="panel panel-info file-preview col-lg-4">
            <div class="panel-heading">File Preview:</div>
            <div class="panel-body">
                <div class="preview">
                    <h4>Download File</h4>
                    <button class="btn btn-lg upload-btn" type="button">Download</button>
                </div>
            </div>
        </div>
        <div class="panel panel-info project-notes col-lg-4">
            <div class="panel-heading">Notes</div>
            <div class="panel-body">
                <p>Job-Status: waiting for plans to be submitted</p>
            </div>
        </div>
    </div>
</div>
<div><a href="/settings">Settings</a></div>
<script src="js/arch-view.js"></script>
{{!--
<div class="folders">
    <h1>Folders:</h1>
</div> --}} {{!--
<div class="comments">
    <h1>Comments:</h1>
</div> --}}