html,
body {
    margin: 0px auto;
    width: 100vw;
    height: 100vh;
}
.col-lg-12, 
.col-lg-11,
.col-lg-10,
.col-lg-9,
.col-lg-8, 
.col-lg-7,
.col-lg-6,
.col-lg-5,
.col-lg-4, 
.col-lg-3,
.col-lg-2,
.col-lg-1 {
    position: relative;
    padding: 0px;
    margin: 0px;
}
.col-lg-9 {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.options {
    float: right;
}
.panel {
    width: 97%;
}
.panel-default {
    
}
.main-body {
    height: 95vh;
    overflow: scroll;
}
.panel-heading {
    /* width: 100%; */
    font-size: 1.2em;
}
.panel-info {
    border-color: black;
    height: 100%;
}
.panel-info > .panel-heading {
    background-color: #9A4F4F;
    border-color: #9A4F4F;
    color: white;
}
.panel-body {
    position: relative;
    min-height: 250px;
    height: 100%;
}
.bot-tag {
    position: absolute;
    bottom: 5px;
    margin-top: 10px;
}
.left-side {
    height: 40vh;
    
}
.fillable {
    overflow: scroll;
    
}
a:hover {
    cursor: pointer;
}
