html,
body {
    margin: 0px auto;
    height: 100vh;
    width: 100vw;
}
.col-lg-6, 
.col-lg-5,
.col-lg-2   {
    margin: 0px;
    padding: 0px;
}

div {
    /* border: 1px solid black; */
    padding: 0px;
}
.main-body {
    padding: 5px;
}
.client-list {
    height: 100%;
    align-self: left;
    margin: 5px;
}

.client-info {
   margin: 5px;
}
.files {
    margin: 5px;
}

.panel-heading {
    width: 100%;
    font-size: 2em;
}
.panel-info {
    border-color: black;
}
.panel-info > .panel-heading {
    background-color: gray;
    border-color: gray;
    color: white;
}
.uploader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
